<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue2.6.10.js"></script>
    <style type="text/css">
        #demo{width:600px;margin:0 auto;border: black solid 1px}
        li{padding: 10px; list-style: none;}
        .s{width:100px;color:red;display: inline-block}
        .s1{width:100px;color: blue;display: inline-block}
    </style>
</head>
<body>
<div id="demo">
    <my-button :info="jingdong"></my-button>
    <my-button :info="taobao"></my-button>
</div>

<script>
    var myButton = {
        template:`
        <div>
        <div>
        <ul><li v-for="(item,index) in info" :key="index" @click="pang(index)" :class="k[index]==1?count:model">{{item.option}}</li></ul>
        </div>
        <div>
        <ul v-for="(item,index) in info" :key="index" v-show="k[index]==1"><li v-for="(child,index) in item.deta">{{child}}</li></ul>
        </div>
        </div>`,
        data(){
            return{
                count:'s',
                model:'s1',
                k:[1,0,0,0]
            }
        },
        methods:{
            pang(index){
                this.k=[0,0,0,0],
                this.k[index]=1;
                console.log(this.k)
            }
        },
        props:['info']
    }
    new Vue({
        el:"#demo",
        data(){
            return{
                jingdong:[{option:'京东商城',deta:{a1:'房产',a2:'汽车',a3:'机票'}},
                          {option:'数码配件',deta:{a1:'存储卡',a2:'相机包',a3:' 支架'}},
                          {option:'体育用品',deta:{a1:'篮球',a2:'乒乓球',a3:'羽毛球'}},
                          {option:'钟表',deta:{a1:'卡西欧',a2:'天王',a3:'浪琴'}}
                          ],
                taobao:[{option:'进口食品',deta:{a1:'牛奶',a2:'零食',a3:'方便面'}},
                        {option:'母婴用品',deta:{a1:'湿巾',a2:'奶粉',a3:'纸尿裤'}},
                        {option:'家庭清洁',deta:{a1:'洗衣',a2:'纸',a3:'垃圾袋'}},
                        {option:'家居家电',deta:{a1:'毛巾',a2:'玻璃杯',a3:'洗衣机'}}
                        ]
            }
        },
        components:{
            'my-button':myButton
        }
    })
</script>
</body>
</html>